@font-face {
  font-family: 'Front Page Neue';
  src: url('/fonts/FrontPageNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gimme Danger';
  src: url('/fonts/GimmeDanger.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 